@import "tailwindcss";
@plugin "daisyui";
@custom-variant dark (&:where(.dark, .dark *));

/* Light mode default */
html,
body {
    @apply bg-gray-100 text-gray-900 transition-colors duration-300;
}

/* Dark mode */
html.dark,
html.dark body {
    @apply bg-gray-900 text-gray-100;
}

@keyframes theme-in {
    from {
        opacity: 0;
        transform: scale(0.6) rotate(-12deg);
    }
    to {
        opacity: 1;
        transform: scale(1) rotate(0deg);
    }
}

.animate-theme-in {
    animation: theme-in 0.25s ease-out forwards;
}

@keyframes float {
    0% {
        transform: translateY(0px);
    }
    50% {
        transform: translateY(-8px);
    }
    100% {
        transform: translateY(0px);
    }
}

.animate-float {
    animation: float 4s ease-in-out infinite;
}

@keyframes fade-in {
    0% {
        opacity: 0;
        transform: translateY(10px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.animate-fade-in {
    animation: fade-in 0.8s ease-out forwards;
}

@keyframes slide-up {
    0% {
        opacity: 0;
        transform: translateY(30px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.animate-slide-up {
    animation: slide-up 1s ease-out forwards;
}

@keyframes pulse-slow {
    0% {
        opacity: 0.3;
    }
    50% {
        opacity: 0.5;
    }
    100% {
        opacity: 0.3;
    }
}

.animate-pulse-slow {
    animation: pulse-slow 6s ease-in-out infinite;
}

/*Modal Css */
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes scaleIn {
    from {
        opacity: 0;
        transform: scale(0.95);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}

.animate-fadeIn {
    animation: fadeIn 0.2s ease-out forwards;
}

.animate-scaleIn {
    animation: scaleIn 0.2s ease-out forwards;
}

/*modal css ends */
